<?xml version="1.0" encoding="utf-8"?>
<component size="1920,1080">
  <displayList>
    <graph id="n18_fay3" name="n18" xy="-277,-42" size="2474,1165" type="rect" fillColor="#ff000000">
      <relation target="" sidePair="width-width,height-height"/>
    </graph>
    <text id="n19_fay3" name="n19" xy="699,358" size="521,79" fontSize="60" color="#ffffff" bold="true" text="Demo For EX-GAS"/>
    <component id="n20_fay3" name="BtnStart" src="rfg09" fileName="Components/ButtonA.xml" xy="806,572" size="306,61">
      <Button title="开始游戏"/>
    </component>
    <component id="n21_fay3" name="BtnQuit" src="rfg09" fileName="Components/ButtonA.xml" xy="807,741" size="306,61">
      <Button title="退出游戏"/>
    </component>
    <component id="n22_fay3" name="BtnGithub" src="rfg09" fileName="Components/ButtonA.xml" xy="807,890" size="306,61">
      <Button title="访问插件github网站"/>
    </component>
  </displayList>
  <transition name="open">
    <item time="0" type="Alpha" target="n18_fay3" value="1"/>
    <item time="0" type="Alpha" target="n19_fay3" tween="true" startValue="0" endValue="1" duration="24"/>
    <item time="0" type="Alpha" target="n20_fay3" tween="true" startValue="0" endValue="1" duration="24"/>
    <item time="0" type="Alpha" target="n21_fay3" tween="true" startValue="0" endValue="1" duration="24"/>
    <item time="0" type="Alpha" target="n22_fay3" tween="true" startValue="0" endValue="1" duration="24"/>
  </transition>
  <transition name="close">
    <item time="0" type="Alpha" target="n18_fay3" value="1"/>
    <item time="0" type="Alpha" target="n19_fay3" tween="true" startValue="1" endValue="0" duration="24"/>
    <item time="0" type="Alpha" target="n20_fay3" tween="true" startValue="1" endValue="0" duration="24"/>
    <item time="0" type="Alpha" target="n21_fay3" tween="true" startValue="1" endValue="0" duration="24"/>
    <item time="0" type="Alpha" target="n22_fay3" tween="true" startValue="1" endValue="0" duration="24"/>
    <item time="24" type="Alpha" target="n18_fay3" tween="true" startValue="1" endValue="0" duration="12"/>
  </transition>
</component>