<?xml version="1.0" encoding="utf-8"?>
<component size="1920,1080">
  <displayList>
    <graph id="n18_fay3" name="bg" xy="0,0" size="1920,1080" type="rect" fillColor="#00000000">
      <relation target="" sidePair="width-width,height-height"/>
    </graph>
    <text id="n19_fay3" name="title" xy="861,77" size="1014,175" font="ui://vw8ofc6le6hec" fontSize="137" color="#ffffff" align="center" vAlign="middle" strokeColor="#000000" text="EX_GAS  DEMO"/>
    <component id="n20_fay3" name="BtnStart" src="rfg09" fileName="Components/ButtonA.xml" xy="107,529" size="306,61">
      <Button title="开始游戏"/>
    </component>
    <component id="n21_fay3" name="BtnQuit" src="rfg09" fileName="Components/ButtonA.xml" xy="108,698" size="306,61">
      <Button title="退出游戏"/>
    </component>
    <component id="n22_fay3" name="BtnGithub" src="rfg09" fileName="Components/ButtonA.xml" xy="108,847" size="306,61">
      <Button title="访问插件github网站"/>
    </component>
  </displayList>
  <transition name="open">
    <item time="0" type="Alpha" target="n18_fay3" value="1"/>
    <item time="0" type="Alpha" target="n19_fay3" tween="true" startValue="0" endValue="1" duration="24"/>
    <item time="0" type="Alpha" target="n20_fay3" tween="true" startValue="0" endValue="1" duration="24"/>
    <item time="0" type="Alpha" target="n21_fay3" tween="true" startValue="0" endValue="1" duration="24"/>
    <item time="0" type="Alpha" target="n22_fay3" tween="true" startValue="0" endValue="1" duration="24"/>
  </transition>
  <transition name="close">
    <item time="0" type="Alpha" target="n18_fay3" value="1"/>
    <item time="0" type="Alpha" target="n19_fay3" tween="true" startValue="1" endValue="0" duration="24"/>
    <item time="0" type="Alpha" target="n20_fay3" tween="true" startValue="1" endValue="0" duration="24"/>
    <item time="0" type="Alpha" target="n21_fay3" tween="true" startValue="1" endValue="0" duration="24"/>
    <item time="0" type="Alpha" target="n22_fay3" tween="true" startValue="1" endValue="0" duration="24"/>
    <item time="24" type="Alpha" target="n18_fay3" tween="true" startValue="1" endValue="0" duration="12"/>
  </transition>
</component>